
$desktop-width: 1310px;
$tablet-width: 982px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//$max-height: 945px;
$max-height-small: 700px;

$style-change-duration: 0.2s;
$style-change-function: ease-in-out;

// Шрифты
$font-mont: "Montserrat", "Arial", sans-serif;
$font-opensans: "OpenSans", "Arial", sans-serif;
$font-arial: "Arial", "Helvetica", sans-serif;

// Цвета
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #ed8528;
$color-orange2: #fe8057;
$color-dark: #25262a;
$color-gray: #696969;
$color-blue: #4e93e1;
$color-light-blue: #66d0fa;
$color-header-backup: #7f8b8e;
